.header-container {
  display: flex;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  background: linear-gradient(#606060, black, #606060);
}

.logo {
  margin: auto 20px;
}

input {
  width: 500px;
  margin: auto auto auto 0;
  line-height: 20px;
  background: white url("../../assets/icon_magnify.svg") no-repeat 470px center;
}

.language-container {
  margin: auto 20px auto auto;
  * {
    margin: 5px;
    cursor: pointer;
  }
}
